/* style.css */
body{
  background: orange;
  color: white;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}
h1{
  font-family: 'Ubuntu', sans-serif;
  color: red;
  font-weight: lighter;
  font-size: 20px;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  color: pink;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}
